# Write a Python program to convert kilometers to miles?

In [2]:
### Conversion of Kilometers into Miles
### 1 Mile = 1.60934
x = float(input("Enter the value of kilometers : "))
Mile = float(input("Enter the value of one Mile : "))
Conversion_of_Kilometers_into_Miles = x/Mile
print(f'Miles is {Conversion_of_Kilometers_into_Miles}')

Enter the value of kilometers : 250
Enter the value of one Mile : 1.60934
Miles is 155.34318416245168

# Write a Python program to convert Celsius to Fahrenheit?

In [8]:
### Conversion of Celsius to Fahrenheit
### One Celsius = 33.8 Fahrenheit
### Formula (0°C × 9/5) + 32 = 32°F
x = int(input("Enter the value of Celsius : "))
y = float(input("Enter the value of Celsius : "))
Conversion_of_Celsius_to_Fahrenheit1 = (x * 9/5) + 32
Conversion_of_Celsius_to_Fahrenheit2 = (y * 9/5) + 32
print(f'Fahrenheit is {Conversion_of_Celsius_to_Fahrenheit1}')
print(f'Fahrenheit is {Conversion_of_Celsius_to_Fahrenheit2}')

Enter the value of Celsius : 12
Enter the value of Celsius : 3.5
Fahrenheit is 53.6
Fahrenheit is 38.3

# Write a Python program to display calendar?

In [10]:
import calendar
year = int(input("Enter the year : "))
month = int(input("Enter the month : "))
print(calendar.month(year,month))

Enter the year : 2022
Enter the month : 3
     March 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [12]:
### To Import Year Calendar
import calendar
year = int(input("Enter the Year : "))
print(calendar.calendar(year))

Enter the Year : 2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

# Write a Python program to solve quadratic equation?

In [13]:
### To Solve Quadratic Equation of 6x² + 11x - 35 = 0
### Here a = 6, b = 11, c = -35
### To Perform Mathematical Calculations we need to import cmath Module
import cmath
a = int(input("Enter the value of a : "))
b = int(input("Enter the value of b : "))
c = int(input("Enter the value of c : "))
d = (b**2)-(4*a*c)
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
x = print(f'The solutions are {sol1} and {sol2}')

Enter the value of a : 6
Enter the value of b : 11
Enter the value of c : -35
The solutions are (-3.5+0j) and (1.6666666666666667+0j)

# Write a Python program to swap two variables without temp variable?

In [17]:
x = int(input("Enter the value of x : "))
y = int(input("Enter the value of y : "))
x1 = x + y
y1 = x - y
x2 = x - y
print("x =", x1)
print("y =", y1)
print("x1 =", x2)

Enter the value of x : 20
Enter the value of y : 10
x = 30
y = 10
x1 = 10